In [11]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
file_loc = "./dataset.xlsx"

In [8]:
df = pd.read_excel(file_loc,usecols='A:B')

In [10]:
df

,Private_Key,Public_Key
0,98c3c2d21283f7f553cc7f5616cedb1b75f4fd8ee4115a...,048b232898a34786ae39a98e7ff7d0f425a169c01fa2b0...
1,15392aee83da2559d3006b588c33809293965a93712514...,0436b9fa79b1a58f5a163e12cf51051bf3287afdc488c6...
2,43e96d25e97563fd3f24c5b90246c676a5a1f3a78c6bdd...,04c79b419e88af3e56496960a06705355e0c310eebe9b5...
3,60963f4b1ba68501a293e3d65eefe1040b249352cd843f...,04d00f070cfd20498ba115479fdfbaa7c274b3eb66d802...
4,ee5cf0c202dc600ffa4a240078a1612d9221478c2f31df...,0404ae646023a9b40601263b29e8280ecba8bfc5f4b5a8...
...,...,...
3995,a9138647b4890041e1d9d327c66c198656aef6d7a6a5b7...,3f783d7d18b6df5bdc2f269148a7419802216cace4cd05...
3996,7116f81bed65314be8fafd8428d4e9f23d3d46735e02aa...,1620228f406a6bdb914b46f178965022642892b38b377f...
3997,b8e2d63cb1a8192a8a4f3fba23a7be35cbea3c773a929d...,cdb3f159eb85c43e53521942a8cd7daa3a1ea917922302...
3998,181d29f7552832e642be9fb853c4577207130ee9f84e96...,9eda8000de859c82f43aed50c63948134fdda198a71596...
3999,0e0ccf49cb936bf60a5a9c52ff26ca52307b7174535002...,e4d0640f55c402cbf13925efb709064640ee7a2c462e35...

In [25]:
# Function to count the number of numbers and alphabets in a string
def count_numbers_and_alphabets(s):
    num_count = sum(c.isdigit() for c in s)
    alpha_count = sum(c.isalpha() for c in s)
    return num_count, alpha_count

# Apply the function to count numbers and alphabets for each row
df[['Num_Count_Private', 'Alpha_Count_Private']] = df['Private_Key'].apply(lambda x: pd.Series(count_numbers_and_alphabets(x)))
df[['Num_Count_Public', 'Alpha_Count_Public']] = df['Public_Key'].apply(lambda x: pd.Series(count_numbers_and_alphabets(x)))

0       37
1       46
2       38
3       44
4       42
        ..
3995    44
3996    39
3997    37
3998    46
3999    41
Name: Num_Count_Private, Length: 4000, dtype: int64

In [28]:
df = df.drop('Cosine_Similarity', axis=1)
df

,Private_Key,Public_Key,Num_Count_Private,Alpha_Count_Private,Num_Count_Public,Alpha_Count_Public
0,98c3c2d21283f7f553cc7f5616cedb1b75f4fd8ee4115a...,048b232898a34786ae39a98e7ff7d0f425a169c01fa2b0...,37,27,90,40
1,15392aee83da2559d3006b588c33809293965a93712514...,0436b9fa79b1a58f5a163e12cf51051bf3287afdc488c6...,46,18,85,45
2,43e96d25e97563fd3f24c5b90246c676a5a1f3a78c6bdd...,04c79b419e88af3e56496960a06705355e0c310eebe9b5...,38,26,78,52
3,60963f4b1ba68501a293e3d65eefe1040b249352cd843f...,04d00f070cfd20498ba115479fdfbaa7c274b3eb66d802...,44,20,77,53
4,ee5cf0c202dc600ffa4a240078a1612d9221478c2f31df...,0404ae646023a9b40601263b29e8280ecba8bfc5f4b5a8...,42,22,94,36
...,...,...,...,...,...,...
3995,a9138647b4890041e1d9d327c66c198656aef6d7a6a5b7...,3f783d7d18b6df5bdc2f269148a7419802216cace4cd05...,44,20,77,51
3996,7116f81bed65314be8fafd8428d4e9f23d3d46735e02aa...,1620228f406a6bdb914b46f178965022642892b38b377f...,39,25,80,48
3997,b8e2d63cb1a8192a8a4f3fba23a7be35cbea3c773a929d...,cdb3f159eb85c43e53521942a8cd7daa3a1ea917922302...,37,27,85,43
3998,181d29f7552832e642be9fb853c4577207130ee9f84e96...,9eda8000de859c82f43aed50c63948134fdda198a71596...,46,18,91,37
3999,0e0ccf49cb936bf60a5a9c52ff26ca52307b7174535002...,e4d0640f55c402cbf13925efb709064640ee7a2c462e35...,41,23,85,43

In [26]:
# Specify the columns you want to save to Excel
columns_to_save = ['Num_Count_Private', 'Alpha_Count_Private','Num_Count_Public', 'Alpha_Count_Public']


# Save the specified columns to Excel
df.to_excel('output.xlsx', index=False)